@font-face {
  src: url("CursedTimerULiL.ttf");
  font-family: Cursed Timer;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url("bball.jpg") no-repeat;
  background-size: cover;
  background-color: #f4d06f;
}
#app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#new-game-btn {
  display: flex;
  width: 150px;
  justify-content: center;
  margin-top: 50px;
  padding: 15px 20px;
  border: 3px solid #587291;
  border-radius: 6px;
  background: #1b244a;
  color: #9aabd8;
  cursor: pointer;
}
#new-game-btn:hover {
  background: #0cf574;
  color: #587291;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 575px;
  height: 385px;
  background: #1b244a;
  border-radius: 10px;
  border: 6px solid #587291;
  opacity: 0.9;
}

#home-score,
#guest-score {
  width: 155px;
  height: 120px;
  background: #080001;
  font-family: Cursed Timer;
  color: #f94f6d;
  font-size: 90px;
  display: flex;
  align-items: center;
  padding-top: 15px;
  justify-content: center;
}

#home-score-container {
  margin-left: 40px;
}

#guest-score-container {
  margin-right: 40px;
}

#home-score-btns-container,
#guest-score-btns-container {
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#home-score-btns-container li,
#guest-score-btns-container li {
  width: 40px;
  height: 40px;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  list-style-type: none;
  color: #9aabd8;
  vertical-align: center;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-family: Cursed Timer;
  cursor: pointer;
}

#home-score-btns-container li:hover,
#guest-score-btns-container li:hover {
  background: #0cf574;
  color: #587291;
}
.home-txt {
  color: #eeeeee;
  text-align: center;
  font-size: 40px;
  margin: 50px 0 20px;
}

.leader {
  border: 1px solid #f4d06f;
  box-shadow: 0 0 15px #f4d06f;
}
